[Unit]
Description=🚀 automatically gets your AnyDesk ID and sends it to RocketChat.
After=network.target

[Service]
ExecStart=/usr/bin/python3 path/to/script/folder
Restart=always
User=root
WorkingDirectory=path/to/script/folder


[Install]
WantedBy=multi-user.target
